{% extends "base.html" %}
{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Edit Profile</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="{{ url_for('user',username=current_user.username) }}">Profile</a></li>
                        <li>Edit Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="control-group row justify-content-center">
                <div class="col-md-4 mb-4 mt-4">
                    <div class="controls mb-3">
                        <div class="input-group">
{#                            <div class="form-group" style="display: none">#}
{#                                {{ form.id() }}#}
{#                            </div>#}
                            <div class="input-group-prepend">{{ form.name.label(class='input-group-text') }}</div>
                            {{ form.name(class='form-control') }}
                        </div>

                        {% for error in form.name.errors %}
                            <div class="alert-danger">{{ error }}</div>
                        {% endfor %}

                    </div>
                    <div class="controls mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">{{ form.family_name.label(class='input-group-text') }}</div>
                            {{ form.family_name(class='form-control') }}
                            {% for error in form.family_name.errors %}
                                <div class="alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="controls  mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form.username.label(class='input-group-text') }}
                            </div>
                            {{ form.username(class='form-control') }}
                        </div>
                        {% for error in form.username.errors %}
                            <div class="alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="controls mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form.mail.label(class='input-group-text') }}
                            </div>
                            {{ form.mail(class='form-control') }}
                        </div>
                        {% for error in form.mail.errors %}
                            <div class="alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="controls mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                {{ form.password.label(class='input-group-text') }}
                            </div>
                            {{ form.password(class='form-control') }}
                        </div>
                    </div>
                    <div class="controls">{{ form.hidden_tag() }}
                        {{ form.submit(class='btn btn-register'  ) }}</div>
                </div>
            </div>
        </form>
    </div>


    {% include 'bottom.html' %}

    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/tiny-slider.js') }}"></script>
    <script src="{{ url_for('static',filename='js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>

{% endblock content %}
