{% extends 'base.html' %}
{% block content %}

    <section class="hero-area overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                    <div class="hero-text text-center">
                        <!-- Start Hero Text -->
                        <div class="section-heading">
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">Welcome to evenTO</h2>
                            <p class="wow fadeInUp" data-wow-delay=".5s">Your local guide is here<br></p>
                        </div>
                        <!-- End Hero Text -->
                        <!-- Start Search Form -->
                        <div class="search-form wow fadeInUp" data-wow-delay=".7s">
                            <form method="post" action="{{ url_for('search') }}">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12 p-0">
                                        {{ form.hidden_tag() }}
                                        <div class="search-input">
                                            <label for="keyword"><i class="lni lni-search-alt theme-color"></i></label>


                                            <input type="text" name="searched" id="keyword"
                                                   placeholder="Search something">

                                        </div>


                                </div>
                                <div class="col-lg-3 col-md-3 col-12 p-0">
                                    <div class="search-input">
                                        <label for="Category"><i class="lni lni-grid-alt theme-color"></i></label>

                                            {{ formupload.csrf_token }}
                                            {{ formupload.category }}

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12 p-0">
                                    <div class="search-input">
                                        <label for="location"><i class="lni lni-map-marker theme-color"></i></label>
                                        <select name="location" id="location">

                                            <option value="" selected disabled>Turin </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12 p-0">
                                    <div class="search-btn button">
                                        <button class="btn" type="submit"><i class="lni lni-search-alt"
                                                                             type="submit"></i> Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <!-- End Search Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Categories Area -->
    <section class="categories">
        <div class="container">
            <div class="cat-inner">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="category-slider">
                            <!-- Start Single Category -->
                            <a href="restaurants.html" class="single-cat">
                                <div class="icon">
                                    <img src="/static/svg/utensils-solid.svg" alt="#">
                                </div>
                                <h3>Restaurants</h3>
                                <h5 class="total">35</h5>
                            </a>
                            <!-- End Single Category -->
                            <!-- Start Single Category -->
                            <a href="clubs.html" class="single-cat">
                                <div class="icon">
                                    <img src="/static/svg/glass-cheers-solid.svg" alt="#">
                                </div>
                                <h3>Clubs</h3>
                                <h5 class="total">22</h5>
                            </a>
                            <!-- End Single Category -->
                            <!-- Start Single Category -->
                            <a href="pubs.html" class="single-cat">
                                <div class="icon">
                                    <img src="/static/svg/beer-solid.svg" alt="#">
                                </div>
                                <h3>Pubs</h3>
                                <h5 class="total">55</h5>
                            </a>
                            <!-- End Single Category -->
                            <!-- Start Single Category -->
                            <a href="exhibitions.html" class="single-cat">
                                <div class="icon">
                                    <img src="/static/svg/wine-glass-solid.svg" alt="#">
                                </div>
                                <h3>Exhibitions</h3>
                                <h5 class="total">21</h5>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Categories Area -->

    <!-- Start Items Grid Area -->
    <section id="latest_events" class="items-grid section custom-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Latest Events</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div><div class="single-head">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single Grid -->

                          <div class="single-grid wow fadeInUp" data-wow-delay=".2s">
                            {% for evnt in event %}
                            <div class="image">
                                <a href="item-details.html" ><img class="thumbnail"  src="{{ url_for('static', filename='uploads/' + evnt.image_file) }}" alt="#"/> </a>
                                <div class="author">
                                    <div class="author-image">
                                       <a href="javascript:void(0)"><img src="/static/images/items-grid/author-3.jpg" alt="#">
                                            <span>
                                            {{ current_user.username }}
                                            </span> </a>

                                    </div>
                                    <p class="sale">New Listing</p>
                                </div>
                                <p class="item-position"><i class="lni lni-bolt"></i> Featured</p>
                            </div>

                            <div class="content">
                                <div class="top-content">
                                    <h3 class="title">
                                        <a href="item-details.html">{{ evnt.title }}</a>
                                    </h3>
                                    <p>Posted: {{ moment(evnt.date_posted).format('LLL') }}</p>

                                    <a href="javascript:void(0)" class="tag">{{ evnt.category}} </a>
                                    <ul class="rating">
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><a href="javascript:void(0)">(55)</a></li>
                                    </ul>
                                    <ul class="info-list">
                                        <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> {{ evnt.address }}</a></li>

                                    </ul>
                                </div>
                                <div class="bottom-content">
                                    <p class="price">Start From: <span> {{ evnt.price }}$  </span></p>
                                    <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- End Single Grid -->
                    </div>


                </div>
            </div>


        </div>
    </section>
    <!-- /End Items Grid Area -->




    {% include 'bottom.html' %}

    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <link src="{{ url_for('static',filename='js/bootstrap.min.js') }}">


    <script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/tiny-slider.js') }}"></script>



    <script src="{{ url_for('static',filename='js/glightbox.min.js') }}"></script>



    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script type="text/javascript">
        //========= Category Slider
        tns({
            container: '.category-slider',
            items: 3,
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 4,
                },
                992: {
                    items: 5,
                },
                1170: {
                    items: 6,
                }
            }
        });
    </script>
{% endblock content %}
