{% extends "base.html" %}
{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Login</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/">Home</a></li>
                        <li>Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <section id="login" class="call-register overlay section container-fluid">
        <h1 style="text-align:center; color:white">Login</h1>
        <div class="search-form wow fadeInUp row justify-content-center" data-wow-delay=".7s" style="background: none">
                <div class="col-4 p-0" style="text-align: center">
                    <form method="post" class="form form-horizontal">
                        <div class="input-group mb-3" style="margin-bottom: 10px">
                            <div class="input-group-prepend" style="margin-right: 10px">
                        {{ form.username.label(class='input-group-text') }}
                            </div>
                                {{ form.username(class='form-control') }}
                        </div>
                    <div class="input-group mb-3" style="margin-bottom: 10px">
                        <div class="input-group-prepend" style="margin-right: 10px">
                        {{ form.password.label(class='input-group-text') }}
                        </div>
                        {{ form.password(class='form-control') }}
                    </div>
                        {{ form.hidden_tag() }}
                        {% for error in form.submit.errors %}
                            {{ error }}
                        {% endfor %}
                        {{ form.submit(class='form-control') }}
                    </form>
            </div>
    </section>


    {% include 'bottom.html' %}

    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/tiny-slider.js') }}"></script>
    <script src="{{ url_for('static',filename='js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>

{% endblock content %}
